/* global */
html{height: 100%;
margin: 0px;
padding: 0px;}

body
{ font-family: arial, sans-serif;
  padding: 0px;
  padding-top: 20px;
  margin: 0px;
  font-size: .78em;
}

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;
}

h1
{ font-family: serif;
  font-size: 108%;
  letter-spacing: .1em;
}

h2
{ margin: 0px;
  padding: 5px 0px 10px 0px;
  font-size: 100%;
  letter-spacing: .1em;
  font-weight: normal;
  text-decoration: underline;
}

img{border: 0px;}

a{outline: none;}

/* image positioning - left, right and center */
.left
{ float: left; 
  padding: 0px 8px 0px 0px;
}

.right
{ float: right; 
  padding: 0px 0px 0px 8px;
}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;
}

/* block quote */
blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border-left: 8px solid;
}

/* unordered list */
ul
{ margin: 8px 0px 0px 16px;
  padding: 0px;
}

ul li
{ list-style-type: square;
  margin: 0px 0px 11px 0px; 
  padding: 0px;
}

/* ordered list */
ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;
}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;
}

/* margin lefts / margin rights - to centre content */
#main, #links, #footer, #logo, #menu, #content
{ margin-left: auto; 
  margin-right: auto;
}

/* main container */
#main{width: 850px;}

/* header */
#header
{ border-top: 1px solid; 
  border-bottom: 1px solid;
  height: 150px;
}

/* logo */
#logo
{ position: absolute;
  top: 30px;
  left: 35%;
  margin: 30px auto;

  /*padding: 11px 0px 0px 14px;*/
  height: 75px;
}

#search
{ padding: 11px 17px 0px 14px;
  float: right;
  text-align: right;
}

#logo h1
{ font-family: verdana, arial, sans-serif;
  margin: 0px auto;

  padding: 18px 0px 0px 0px;
  font-size: 160%;
  letter-spacing: .3em;
}

#logo h2
{ font-family: verdana, arial, sans-serif;
  margin: 0px;
  padding: 5px 0px 0px 0px;
  font-size: 100%;
  letter-spacing: .2em;
}

#links
{ background: #ff0000;
  height: 1px;
  text-align: right;
  /*padding: 8px 18px 0px 0px;*/
  z-index: 99;
}

/* sidebars */
.sidebar
{ float: left;
  width: 194px;
  padding: 16px 15px 15px 15px;
}

/* sidebar items / links */
.sidebaritem
{ text-align: left;
  width: 194px;
  float: left;
  margin: 0px 0px 11px 0px;
  padding: 0px 0px 0px 0px;
}

.sidebaritem h1, .sidebaritem h2, .sidebaritem p{margin: 0px 10px 0px 10px}

.sidebaritem h1
{ font-weight: normal; padding: 8px 0px 16px 0px;
  text-transform: uppercase;
}

.sidebaritem p
{ line-height: 16px; 
  padding: 0px 0px 8px 0px;
}

.sidebaritem a, .sidebaritem a:hover
{ padding: 0px 0px 2px 14px;
  text-decoration: none;
}

.menuitems ul, .sbilinks ul, {margin: 0px 0px 18px 10px;}

.menuitems li, .sbilinks li
{ list-style: none; 
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 5px 0px;
}

.menuitems li a, .menuitems li a:hover, .sbilinks li a, .sbilinks li a:hover
{ height: 16px;
  text-decoration: none;
  width: 149px;
} 

/* page content (centre) */
#content
{ text-align: justify;
  width: 384px;
  padding: 26px 9px 15px 9px;
  float: left;
}

#content h1
{ font-family: arial, sans-serif;
  margin: 2px 0px 12px 0px; 
  font-size: 128%;  
  font-weight: normal;
  text-transform: uppercase;
}

#content a, #content a:hover
{ padding: 0px 0px 2px 0px;
  text-decoration: none;
}

/* footer */
#footer
{ height: 44px;  
  padding: 18px 0px 4px 0px;
  font-family: verdana, arial, sans-serif;
  font-size: 90%;
  clear: both;
  text-align: center; 
}

#footer a
{ text-decoration: none;
  padding: 0px 0px 2px 0px;
  border-bottom: 1px dashed;
}

#footer a:hover
{ text-decoration: none;
  padding: 0px 0px 2px 0px;
  border-bottom: 1px solid;
}

/* Based on Nifty Corners: rounded corners without images */
/* By Alessandro Fulciniti */
/* http://www.html.it/articoli/nifty/index.html */
.rtop, .rbottom{display: block;}

.rtop .r1, .rtop .r2, .rtop .r3, .rtop .r4,
.rbottom .r1, .rbottom .r2, .rbottom .r3, .rbottom .r4
{ display: block;
  height: 1px;
  overflow: hidden; 
}

.r1{margin: 0 5px}

.r2{margin: 0 3px}

.r3{margin: 0 2px}

.rtop .r4, .rbottom .r4
{ margin: 0 1px;
  height: 2px
}



 .r2, .rbottom .r3, .rbottom .r4
{ display: block;
  height: 1px;
  overflow: hidden; 
}

.r1{margin: 0 5px}

.r2{margin: 0 3px}

.r3{margin: 0 2px}

.rtop .r4, .rbottom .r4
{ margin: 0 1px;
  height: 2px
}

#logo1 {
/*    height: 90px;
    width: 70px;
*/    position: absolute;
      padding: 5px 0px;
     /* margin: auto 0px;*/

    top: 25px;
/*    padding: 10px 0px;
*/    float: left;
}

#logo1 img {
    height: 100%;
    width: 100%;
    
}

#nav {
    position: fixed;
    width: 100%;    
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 20px rgba(44,44,44,.3);
    top:0;
    left:0;
    height: 50px;
    z-index: 9999;

}
.nav ul {
        /* first create a flex layout context */    
        padding: 0px;
        margin: 0px;
        /*  background: #000066;*/
        /* display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;*/
        list-style-type: none;
        z-index: 9999;
        float: right;
        
      }
.nav ul li {
        /*position: relative;*/
        display: inline;
        float: left;
    
      }
.nav li a {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        font: Raleway, Sans-serif;
        color: #ff0000;
        text-decoration: none;
        padding: 0.5em 1em;
        transition: 0.4s;


      }

.nav li a:hover {
        background-color: #ff0000 ;
        color: white;
      }
